---
layout: default
---

{% include header.html %}

<section class="l-band u-pad-y-20vh">
	<div class="l-wrap u-align-center">
		<div class="l-row">
			<div class="l-col -w-16 -m-16 -t-12 -d-10 -centered">
				<h1 class="s-head -h1 -resp -tight u-color-black -semi-bold">
					Scalable CSS system built with <br>collaboration in mind.
				</h1>
				<h4 class="s-head -narrow u-color-black">Bring your project to a whole new level with industry’s best CSS practices.</h4>
				<a href="#" class="s-btn -broadest -shadow -round -white">
					Get Started
				</a>
				<h6 class="u-marg-top">Version 0.9.6. built with LESS</h6>
			</div>
		</div>

	</div>
</section>

<div class="l-wrap u-pad-y">
	<span class="s-line"></span>
</div>

<section class="l-wrap">
	<div class="l-row">
		<div class="l-col -m-16 -t-15 -d-14 -centered">

			<div class="l-row -flex -wrap -wide">
				<div class="l-col -m-16 -t-8 -d-1-3 u-pad-y">
					<div class="s-thumb -large -round u-fill-shade-light u-marg-bottom-tight">
						<div class="s-icon -xsmall u-color-brand">
							<i class="fal fa-certificate"></i>
						</div>
					</div>
					<h4 class="s-head -tight -semi-bold u-color-black">Best CSS Practices</h4>
					<p>
						Zap adopts industrys best CSS practices such as SMACSS, IT Principle, BEM, OOCSS and combines these to provide the best solution.
					</p>
				</div>
				<div class="l-col -m-16 -t-8 -d-1-3 u-pad-y">
					<div class="s-thumb -large -round u-fill-shade-light u-marg-bottom-tight">
						<div class="s-icon -xsmall u-color-brand">
							<i class="fal fa-certificate"></i>
						</div>
					</div>
					<h4 class="s-head -tight -semi-bold u-color-black">Best CSS Practices</h4>
					<p>
						Zap adopts industrys best CSS practices such as SMACSS, IT Principle, BEM, OOCSS and combines these to provide the best solution.
					</p>
				</div>
				<div class="l-col -m-16 -t-8 -d-1-3 u-pad-y">
					<div class="s-thumb -large -round u-fill-shade-light u-marg-bottom-tight">
						<div class="s-icon -xsmall u-color-brand">
							<i class="fal fa-certificate"></i>
						</div>
					</div>
					<h4 class="s-head -tight -semi-bold u-color-black">Best CSS Practices</h4>
					<p>
						Zap adopts industrys best CSS practices such as SMACSS, IT Principle, BEM, OOCSS and combines these to provide the best solution.
					</p>
				</div>
				<div class="l-col -m-16 -t-8 -d-1-3 u-pad-y">
					<div class="s-thumb -large -round u-fill-shade-light u-marg-bottom-tight">
						<div class="s-icon -xsmall u-color-brand">
							<i class="fal fa-certificate"></i>
						</div>
					</div>
					<h4 class="s-head -tight -semi-bold u-color-black">Best CSS Practices</h4>
					<p>
						Zap adopts industrys best CSS practices such as SMACSS, IT Principle, BEM, OOCSS and combines these to provide the best solution.
					</p>
				</div>
				<div class="l-col -m-16 -t-8 -d-1-3 u-pad-y">
					<div class="s-thumb -large -round u-fill-shade-light u-marg-bottom-tight">
						<div class="s-icon -xsmall u-color-brand">
							<i class="fal fa-certificate"></i>
						</div>
					</div>
					<h4 class="s-head -tight -semi-bold u-color-black">Best CSS Practices</h4>
					<p>
						Zap adopts industrys best CSS practices such as SMACSS, IT Principle, BEM, OOCSS and combines these to provide the best solution.
					</p>
				</div>
				<div class="l-col -m-16 -t-8 -d-1-3 u-pad-y">
					<div class="s-thumb -large -round u-fill-shade-light u-marg-bottom-tight">
						<div class="s-icon -xsmall u-color-brand">
							<i class="fal fa-certificate"></i>
						</div>
					</div>
					<h4 class="s-head -tight -semi-bold u-color-black">Best CSS Practices</h4>
					<p>
						Zap adopts industrys best CSS practices such as SMACSS, IT Principle, BEM, OOCSS and combines these to provide the best solution.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="l-wrap u-dist-xwide u-pad-y-xwide">
	<div class="l-row">
		<div class="l-col -w-16">
			<!-- end row  -->
			<article>
				<div class="l-row -narrow u-pad-top-tight js-reveal">
					<div class="l-col -w-16">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
				</div>

				<div class="l-row -narrow u-pad-top-tight js-reveal">
					<div class="l-col -w-8">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-8">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
				</div>

				<div class="l-row -narrow u-pad-top-tight js-reveal">
					<div class="l-col -w-1-3">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-1-3">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-1-3">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
				</div>

				<div class="l-row -narrow u-pad-top-tight js-reveal">
					<div class="l-col -w-4">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-4">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-4">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-4">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
				</div>

				<div class="l-row -narrow u-pad-top-tight js-reveal u-hide-m">
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
					<div class="l-col -w-2">
						<div class="u-pad-top u-border-radius u-fill-brand">
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>








	<div class="l-row -flex -wrap -middle -wide">
		<div class="l-col -m-16 -t-16 -d-8">
			<div class="l-row -flex -wrap -middle">
				<div class="l-col -m-6 -t-8 -d-6 -v-7">
					<article class="js-reveal">
						<div class="s-btn-group -vertical">
							<button class="s-btn -outline -red -broad -alt">Button</button>
							<button class="s-btn -outline -orange -broad -alt">Button</button>
							<button class="s-btn -outline -yellow -broad -alt">Button</button>
							<button class="s-btn -outline -green -broad -alt">Button</button>
							<button class="s-btn -outline -blue -broad -alt">Button</button>
							<button class="s-btn -outline -purple -broad -alt">Button</button>
							<button class="s-btn -outline -black -broad -alt">Button</button>
						</div>
					</article>
				</div>
				<div class="l-col -m-10 -t-8 -d-10 -v-9">
					<article class="js-reveal">
						<h1 class="s-head -narrow -light u-color-black">UI Componenets</h1>
						<p>To achieve our vision of bringing cryptocurrency to the masses, we begin by developing infrastructure that cheaply scales the transactions per second on Ethereum for mobile platforms. </p>

					</article>
				</div>
			</div>
		</div>
		<div class="l-col -m-16 -t-16 -d-8">
			<article class="js-reveal">
				<table class="m-table -fluid -resp">
					<thead>
						<tr>
							<th>
								A
							</th>
							<th>
								B
							</th>
							<th>
								C
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								A1
							</td>
							<td>
								B2
							</td>
							<td>
								C3
							</td>
						</tr>
						<tr>
							<td>
								A1
							</td>
							<td>
								B2
							</td>
							<td>
								C3
							</td>
						</tr>
						<tr>
							<td>
								A1
							</td>
							<td>
								B2
							</td>
							<td>
								C3
							</td>
						</tr>
					</tbody>
				</table>
			</article>
		</div>
	</div>
	<!-- end row -->










	<div class="l-row -wide">

		<div class="l-col -m-16 -t-16 -d-6 -v-4">
			<article class="js-reveal">
				<div class="m-card -form u-color-brand">
					<form class="m-form">
						<div class="m-form__item">
							<label class="-required">Username</label>
							<input type="email" placeholder="Email" class="-fluid">
							<span class="m-form__message">This is a required field.</span>
						</div>

						<div class="m-form__item">
							<label>Password</label>
							<input type="password" placeholder="Password" class="-fluid">
						</div>

						<div class="m-form__item">
							<label class="m-form__checkbox">
								Terms &amp; Conditions
								<input type="checkbox">
								<div class="m-form__checkbox-indicator"></div>
							</label>
						</div>

						<button type="submit" class="s-btn -broad -fluid -semi-bold">
							Submit
						</button>
					</form>
				</div>
			</article>
		</div>
		<div class="l-col -m-16 -t-16 -d-10 -v-12 u-dist-xwide">
			<article class="js-reveal">
				<div class="m-card u-pad-none">
					<nav class="m-nav">
						<div class="m-nav__group">
							<a href="/" class="m-nav__item">
								A
							</a>
							<a href="/" class="m-nav__item">
								B
							</a>
							<a href="/guide" class="m-nav__item is-active">
								C
							</a>
							<a href="/" class="m-nav__item">
								D
							</a>
						</div>

						<div class="m-nav__group -right">
							<a href="/" class="m-nav__item is-active">
								<span class="s-icon -size-2">
									<i class="far fa-shopping-cart" aria-hidden="true"></i>
								</span>
							</a>
						</div>
					</nav>
				</div>

			</article>

			<article class="js-reveal">
				<div class="m-tab -only">
					<ul class="m-tab-list">
						<li class="m-tab-list__item is-active" aria-controls="tab_item-0" role="tab">Option</li>
						<li class="m-tab-list__item" aria-controls="tab_item-1" role="tab">Option</li>
						<li class="m-tab-list__item" aria-controls="tab_item-2" role="tab">Option</li>
					</ul>
				</div>
			</article>

			<article class="js-reveal">
				<div class="l-row -narrow">
					<div class="l-col -m-16 -t-8">
						<div class="m-flag">
							<div class="m-flag__item -narrow">
								<span class="s-thumb -round u-fill-red">

								</span>
							</div>
							<div class="m-flag__item">
								<div>
									<h3 class="s-head -relaxed">Flag Object</h3>
									<div class="m-breadcrumb">
										<a href="#" class="m-breadcrumb__item">Page 1</a>
										<span class="m-breadcrumb__slash">/</span>
										<span class="m-breadcrumb__current">Current</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>

</section>

{% include footer.html %}
