<header class="l-band -white -border u-pos-fixed-top">
	<div class="l-wrap">
		<nav class="m-nav">
			<nav class="m-nav">
				<div class="m-nav__group">
					<a href="/" class="m-nav__item -no-pad -no-state">
						<h3 class="s-head -semi-bold u-color-brand">Zap CSS</h3>
					</a>
				</div>

				<div class="m-nav__group -right">
					<a href="{{ site.baseurl }}/doc" class="m-nav__item u-hide-m is-active">
						Get Started
					</a>
					<a href="https://github.com/studiobeneath/zap-css" class="m-nav__item u-hide-m">
						Book a Team Workshop
					</a>
					<div class="m-nav__item u-hide-m">
						<a href="https://github.com/studiobeneath/zap-css" class="s-btn -round -broad -outline -small">
							Download
						</a>
					</div>
					<a href="#" class="m-nav__item -hamburger js-slide-toggle">
						<span></span>
					</a>
				</div>
			</nav>
		</nav>
	</div>
</header>
