


<ul class="m-list -sidebar js-sidebar">
	<li class="m-list__item">
		<h6 class="s-head -tight -semi-bold">Getting Started</h6>
		<ul>
			<li>
				<a href="/doc/getting-started/introduction" {% if page.url == '/doc/getting-started/introduction.html' %} class="is-active" {% endif %}>
					Introduction
				</a>
			</li>
			<li>
				<a href="/doc/getting-started/structure-and-organization" {% if page.url == '/doc/getting-started/structure-and-organization.html' %}class="is-active"{% endif %}>Structure and Organization</a>
			</li>
			<li>
				<a href="/doc/getting-started/naming-rules" {% if page.url == '/doc/getting-started/naming-rules.html' %}class="is-active"{% endif %}>Naming Rules</a>
			</li>
			<li>
				<a href="/doc/getting-started/pattern-definitions" {% if page.url == '/doc/getting-started/pattern-definitions.html' %}class="is-active"{% endif %}>Pattern Definitions</a>
			</li>
			<li>
				<a href="/doc/getting-started/common-modifiers" {% if page.url == '/doc/getting-started/common-modifiers.html' %}class="is-active"{% endif %}>Common Modifiers</a>
			</li>
			<li>
				<a href="/doc/getting-started/themes" {% if page.url == '/doc/getting-started/themes.html' %}class="is-active"{% endif %}>Themes</a>
			</li>
		</ul>
	</li>

	<li class="m-list__item">
		<h6 class="s-head -tight -semi-bold">Base</h6>
		<ul>
			<li>
				<a href="/doc/base/configuration" {% if page.url == '/doc/base/configuration.html' %}class="is-active"{% endif %}>Configuration</a>
			</li>
			<li>
				<a href="/doc/base/reset" {% if page.url == '/doc/base/reset.html' %}class="is-active"{% endif %}>Reset</a>
			</li>
			<li>
				<a href="/doc/base/global" {% if page.url == '/doc/base/global.html' %}class="is-active"{% endif %}>Global</a>
			</li>
			<li>
				<a href="/doc/base/mixins" {% if page.url == '/doc/base/mixins.html' %}class="is-active"{% endif %}>Mixin</a>
			</li>
		</ul>
	</li>

	<li class="m-list__item">
		<h6 class="s-head -tight -semi-bold">Layout</h6>
		<ul>
			<li>
				<a href="/doc/layout/wrapper" {% if page.url == '/doc/layout/wrapper.html' %}class="is-active"{% endif %}>Wrapper</a>
			</li>
			<li>
				<a href="/doc/layout/frame" {% if page.url == '/doc/layout/frame.html' %}class="is-active"{% endif %}>Frame</a>
			</li>
			<li>
				<a href="/doc/layout/row" {% if page.url == '/doc/layout/row.html' %}class="is-active"{% endif %}>Row</a>
			</li>
			<li>
				<a href="/doc/layout/column" {% if page.url == '/doc/layout/column.html' %}class="is-active"{% endif %}>Column</a>
			</li>
			<li>
				<a href="/doc/layout/band" {% if page.url == '/doc/layout/band.html' %}class="is-active"{% endif %}>Band</a>
			</li>
		</ul>
	</li>

	<li class="m-list__item">
		<h6 class="s-head -tight -semi-bold">Module</h6>
		<ul>
			<li>
				<a href="/doc/module/list" {% if page.url == '/doc/module/list.html' %}class="is-active"{% endif %}>List</a>
			</li>
			<li>
				<a href="/doc/module/media-object" {% if page.url == '/doc/module/media-object.html' %}class="is-active"{% endif %}>Media Object</a>
			</li>
			<li>
				<a href="/doc/module/table" {% if page.url == '/doc/module/table.html' %}class="is-active"{% endif %}>Table</a>
			</li>
			<li>
				<a href="/doc/module/form" {% if page.url == '/doc/module/form.html' %}class="is-active"{% endif %}>Form</a>
			</li>
			<li>
				<a href="/doc/module/navigation" {% if page.url == '/doc/module/navigation.html' %}class="is-active"{% endif %}>Navigation</a>
			</li>
			<li>
				<a href="/doc/module/breadcrumb" {% if page.url == '/doc/module/breadcrumb.html' %}class="is-active"{% endif %}>Breadcrumb</a>
			</li>
			<li>
				<a href="/doc/module/tab" {% if page.url == '/doc/module/tab.html' %}class="is-active"{% endif %}>Tab</a>
			</li>
		</ul>
	</li>

	<li class="m-list__item">
		<h6 class="s-head -tight -semi-bold">Single</h6>
		<ul>
			<li>
				<a href="/doc/single/button" {% if page.url == '/doc/single/button.html' %}class="is-active"{% endif %}>Button</a>
			</li>
			<li>
				<a href="/doc/single/header" {% if page.url == '/doc/single/header.html' %}class="is-active"{% endif %}>Header</a>
			</li>
			<li>
				<a href="/doc/single/image" {% if page.url == '/doc/single/image.html' %}class="is-active"{% endif %}>Image</a>
			</li>
			<li>
				<a href="/doc/single/line" {% if page.url == '/doc/single/line.html' %}class="is-active"{% endif %}>Line</a>
			</li>
			<li>
				<a href="/doc/single/thumb" {% if page.url == '/doc/single/thumb.html' %}class="is-active"{% endif %}>Thumb</a>
			</li>
		</ul>
	</li>

	<li class="m-list__item">
		<h6 class="s-head -tight -semi-bold">Utility</h6>
		<ul>
			<li>
				<a href="/doc/utility/align" {% if page.url == '/doc/utility/align.html' %}class="is-active"{% endif %}>Align</a>
			</li>
			<li>
				<a href="/doc/utility/color" {% if page.url == '/doc/utility/color.html' %}class="is-active"{% endif %}>Color</a>
			</li>
			<li>
				<a href="/doc/utility/float" {% if page.url == '/doc/utility/float.html' %}class="is-active"{% endif %}>Float</a>
			</li>
			<li>
				<a href="/doc/utility/padding" {% if page.url == '/doc/utility/padding.html' %}class="is-active"{% endif %}>Padding</a>
			</li>
			<li>
				<a href="/doc/utility/margin" {% if page.url == '/doc/utility/margin.html' %}class="is-active"{% endif %}>Margin</a>
			</li>
			<li>
				<a href="/doc/utility/distribution" {% if page.url == '/doc/utility/distribution.html' %}class="is-active"{% endif %}>Distribution</a>
			</li>
			<li>
				<a href="/doc/utility/hide" {% if page.url == '/doc/utility/hide.html' %}class="is-active"{% endif %}>Hide</a>
			</li>
			<li>
				<a href="/doc/utility/show" {% if page.url == '/doc/utility/show.html' %}class="is-active"{% endif %}>Show</a>
			</li>
			<li>
				<a href="/doc/utility/border" {% if page.url == '/doc/utility/border.html' %}class="is-active"{% endif %}>Border</a>
			</li>
			<li>
				<a href="/doc/utility/fade" {% if page.url == '/doc/utility/fade.html' %}class="is-active"{% endif %}>Fade</a>
			</li>
			<li>
				<a href="/doc/utility/fill" {% if page.url == '/doc/utility/fill.html' %}class="is-active"{% endif %}>Fill</a>
			</li>
		</ul>
	</li>
</ul>
